:root {
    /* Paleta de colores */
    --varcolor1: lightskyblue;
}

/* General */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Monserrat', sans-serif;
    box-sizing: border-box;
}

.Content{
    margin: 20px;
}

/* *** Navbar *** */
nav{
    background-color: var(--varcolor1);
}

#divLogoIndex{
    display: flex;
    justify-content: center;
    align-content: center;
}

#logoIndex{
    width: 400px;

}

/* *** Gestion *** */
thead{
    background-color: var(--varcolor1);
}

/* *** Forms *** */
form{
    max-width: 768px;
}

form input[type="date"] {
    max-width: 300px;
  }